
@use "sass:math";
@font-face {
  font-family: 'Teko';
  src: url('/fonts/Teko.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes full-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes sinusoidal-opacity {
  0% { opacity: calc(var(--base-opacity, 0.5) - var(--amplitude, 0.5)); }
  50% { opacity: calc(var(--base-opacity, 0.5) + var(--amplitude, 0.5)); }
  100% { opacity: calc(var(--base-opacity, 0.5) - var(--amplitude, 0.5)); }
}

.animate-opacity {
  --base-opacity: 0.5;
  --amplitude: 0.5;
  animation-name: sinusoidal-opacity;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.3642, 0, 0.6357, 1); // Sine wave
  animation-duration: 5s;
  opacity: 0; // Start the lights off so that the spinning works well
}

.animate-spin-slow {
  animation: full-spin 12s linear infinite;
}

.wheel-return {
  transition: transform 2s ease-out;
  transform: rotate(0deg) !important;
}

