
@font-face {
  font-family: 'Teko';
  src: url('/fonts/Teko.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes full-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes sinusoidal-opacity {
  $n: 20;
  $pi : 3.14159265358979323846;
  @for $i from 0 through $n {
    #{$i * 5}#{'%'} {
      // Using Taylor polynomial approximation for sine: x - x^3/6 + x^5/120
      // https://www.desmos.com/calculator/lg5oxg0jxh
      $x: $pi * $i / $n - $pi;
      $x3: $x * $x * $x;
      $x5: $x3 * $x * $x;
      $x7: $x5 * $x * $x;
      $x9: $x7 * $x * $x;
      $sin_approx: $x - $x3/6 + $x5/120 - $x7/5040 + $x9/362880;
      opacity: calc(var(--base-opacity, 0.5) + var(--amplitude, 0.5) * #{$sin_approx});
    }
  }
}

.animate-opacity {
  --base-opacity: 0.5;
  --amplitude: 0.5;
  animation-name: sinusoidal-opacity;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 5s;
}

.animate-spin-slow {
  animation: full-spin 12s linear infinite;
}

.wheel-return {
  transition: transform 2s ease-out;
  transform: rotate(0deg) !important;
}

